@import "../utilidades/mixin";
@import "../utilidades/variables";

/* estilos desktop */

@media screen and (min-width:1024px){
.colorFondo{
        /* estilos index */

        .mainIndex{
            .categorias{
                display: grid;
                @include grid-template;
                margin-left: 15%;
                margin-right: 15%;  
                margin-top: 7%;
                justify-content: center;
                column-gap: 10px;
                row-gap: 10px;

                div{
                    a{
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 25px;
                        }
                    }
                }
            }
            .tituloIndex{
                font-weight: bolder;
                color: rebeccapurple;
            }

            .video{
                display: flex;
                justify-content: center;
                width: 90%;
                margin: 0 auto;
                height: 300px;
                border: salmon solid 5px;
                iframe{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .textoIndex{
                justify-content: left;
                padding-right: 5%;
                margin-left: 15%;
            }
        }

        /* estilos contacto */

        .mainContacto{
            .horarios{
                font-size: larger;
                height: 20px;
                padding-bottom: 5%;
            }

        }

        .mapa{
            justify-content: center;
        }

        /* estilos herramientas */

        .mainHerramientas{

            h1{
                padding-top: 20px;
                padding-bottom: 30px;
            }
            .videoHerramientas{
                justify-content: center;
                padding: 10px;
            }

            .imagenesHerramientas{
                .imagenesHerramientasUno{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    column-gap: 1.5rem;

                        .imagenesHerramientassTres{
                            display: none;
                        }
                }

                .imagenesHerramientasDos{
                    display: grid;
                    grid-template-columns: repeat(3,2fr);      
                    column-gap: 1.5rem;

                    .imgCuatroHerramientas{
                        display: none;
                    }

                    .imgSeisHerramientas{
                        display: none;
                    }
                }
            }

            p{
                text-align: center;
            }
        }

        /* estilos pastillas de frenos */

        .mainPastillas{
            .tituloPastillas{
                padding-bottom: 2.5%;
                font-weight: bold;
                
            }

            .video{
                display: flex;
                justify-content: center;
                width: 90%;
                margin: 0 auto;
                height: 300px;
                border: salmon solid 5px;
                iframe{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .parrafoPastillasUno{
                justify-content: center;
                @include padding;
            }

            .parrafoPastillas{
                justify-content: center;
                @include padding;
            }

            .imagenesPastillasParrafo{
                grid-template-columns: repeat(3,0.5fr);
                grid-template-rows: repeat(2,0.2fr);
                column-gap: 10px;
                margin-top: 10%;
                width: 90%;
                height: 70%;
                padding-left: 10%;

                .imgUnaPastillas{
                    height: 70%;
                    width: 90%;
                }
                
                .txtPastillas{
                    padding-top: 0%;
                    padding-bottom: 10%;
                    color: tomato;
                }

                .imgDosPastillas{
                    height: 70%;
                    width: 90%;
                }

                .txtPastillas{
                    padding-top: 0%;
                    padding-bottom: 10%;
                    color: tomato;
                }

                .imgTresPastillas{
                    height: 70%;
                    width: 90%;
                }

                .txtPastillas{
                    padding-top: 1%;
                    padding-bottom: 10%;
                    color: tomato;
                }
            }
        }

        /* estilos suspension y direccion */

        .suspensionYDireccion{
            .tituloSecundarioSuspension{
                padding-bottom: 15px;
                padding-top: 1%;
            }

            .video{
                display: flex;
                justify-content: center;
                width: 90%;
                margin: 0 auto;
                height: 300px;
                border: salmon solid 5px;
                iframe{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .parrafoSuspension{
                @include padding;
            }

            .parrafoSuspensionUno{
                @include padding;
            }
        }
    }
}