@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos tablet */

@media screen and (min-width:600px){
.colorFondo{
        /* estilos index */

        .mainIndex{
            .videoYoutube{
                height: 30vh;
                padding-left: 50px;
                padding-right: 50px;
            }
        }

        /* estilos contactos */

        .colorFondo{
            .mapa{
                justify-content: center;
            }
        }

        /* estilos herramientas */

        .mainHerramientas{
            .videoHerramientas{
                justify-content: center;
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .imagenesHerramientas{
                .imagenesHerramientasUno{
                    grid-template-columns: repeat(2, 0.5fr);

                    .imagenesHerramientassTres{
                        margin-left: 50%;
                    }
                }
            }

            .imagenesHerramientasDos{
                display: none;
            }

            .prueba{
                font-weight: bold;
            }
        }


        /* estilos pastillas de frenos */

        .mainPastillas{
            .tituloPastillas{
                padding-bottom: 10px;
            }

            .parrafoPastillasUno, .parrafoPastillas{
                margin-top: 20px;
                padding-left: 15px;
                padding-right: 15px;
            }

            .imagenesPastillasParrafo{
                grid-template-columns: repeat(2, 0.5fr);
                align-content: center;
                padding-top: 50px;
                grid-template-rows: repeat(2, 0.4fr);
            }

            .imgCincoPastillas{
                display: none;
            }

            .imgSeisPastillas{
                display: none;
            }
        }
    }
}