//mixin flex

@mixin flex{
    idth: 100%;
    height: 100%;
    object-fit: cover;
    display: flex; 
}

@mixin grid{
    display: grid;
    padding-top: 5%;
    justify-content: center;
}

@mixin margin{
    margin-top: 5%;
    margin-bottom: 5%;
}

@mixin grid-template{
    grid-template-columns: repeat(2,45%);
        grid-template-rows: repeat(2,45%);
}

@mixin font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    text-align: center;
}

@mixin padding{
    padding-left: 20%;
    padding-right: 20%;
}

@mixin weight-height{
    width: 100%;
    height: 100%; 
}
